<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.unb.org/grupo10/oberon/Oberon"
			class = "org.unb.grupo10.oberon.oberon.OberonPackage"
			genModel = "model/generated/Oberon.genmodel" />
	</extension>
</plugin>
